.callout[data-callout="note"] {
    --callout-color: 39, 251, 107;
    --callout-icon: album;
}
.callout[data-callout="extra"] {
    --callout-color: 47, 82, 224;
    --callout-icon: award;
}
.callout[data-callout="example"] {
    --callout-color: 206, 20, 131;
    --callout-icon: lightbulb;
}
